@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;300;400;500;700&display=swap");
:root {
  --color-current: #000000;
}

@font-face {
  font-family: old1982;
  src: url(fonts/back-to-1982/BACKTO1982.TTF);
}
@font-face {
  font-family: blox;
  src: url(fonts/blox-brk/Blox2.ttf);
}
@font-face {
  font-family: minecraft;
  src: url(fonts/minecraft/Minecraft.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: old1982;
  height: 100vh;
  background-color: #F27D16;
}

html {
  font-size: 62.5%;
}

.pixel {
  width: 80rem;
  height: 63rem;
  background-color: #333333;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* ===============  CREATE GRID TEMPLATE =============== */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "menu menu menu menu logo" "container container container container logo" "container container container container tools" "container container container container tools" "container container container container tools" "container container container container tools" "container container container container tools" "container container container container gallery";
}
.pixel > * {
  border-radius: inherit;
}
.pixel__menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  align-items: center;
  padding: 1.8rem 2rem;
}
.pixel__logo {
  grid-area: logo;
  color: #ffffff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}
.pixel__container {
  grid-area: container;
  margin-left: 2rem;
  border-radius: 0;
  cursor: auto;
}
.pixel__tools {
  grid-area: tools;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 0 2rem 0 1rem;
  gap: 2rem;
}
.pixel__tools .tool {
  color: #ffffff;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
.pixel__tools .tool img {
  width: 80%;
  height: 80%;
  transition: all 0.4s ease;
}
.pixel__tools .tool img:hover {
  transform: rotate(-45deg) scale(1.2);
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.15);
}
.pixel__tools .tool input[type=text] {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.pixel__tools .tool input[type=color] {
  display: none;
}
.pixel__gallery {
  grid-area: gallery;
  padding: 0 2rem 0 1rem;
}
.pixel__gallery ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
  margin: 3rem 0;
}
.pixel__gallery ul li {
  width: 100%;
  height: 4rem;
  transition: all 0.4s ease;
}
.pixel__gallery ul li:hover {
  border: 3px solid #000000;
}
.pixel__gallery .range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.pixel__gallery .range-number {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
}
.pixel__gallery .range input {
  flex-basis: 80%;
  width: 100%;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

/*# sourceMappingURL=style.css.map */
