@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;300;400;500;700&display=swap");

$color-white: #fafbfb;
$color-black: #000;
$color-grey-slate: #343d4c;
$color-black-light: #212832;
$color-blue: #05aff2;

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
    background-color: $color-grey-slate;
}

.weather {
    @include flex();

    perspective: 1000px;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--left {
        @include flex();

        transform: rotateY(10deg);
        width: 40rem;
        height: 55rem;
        background: url("./bg.jpg"), linear-gradient(rgba($color-black, 0.2), rgba($color-black, 0.2));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        border-radius: 2rem;
        flex-direction: column;
        color: $color-white;
        padding: 3rem;
        line-height: 2.5rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.6);

        /* TRANSLATE DIV TO RIGHT 10PX */
        margin-right: -1rem;

        &__top {
            width: 100%;
            text-align: left;

            .date {
                font-size: 1.4rem;
                opacity: 0.7;
            }
        }

        &__bottom {
            width: 100%;
            text-align: left;

            .temperature {
                margin: 3rem 0 1.5rem 0;
            }

            .unit {
                position: relative;
                top: -3rem;
                left: 1rem;
                font-size: 3rem;
            }
        }
    }

    &--right {
        @include flex();

        padding: 3rem 2rem;
        flex-direction: column;
        background-color: $color-black-light;
        width: 40rem;
        height: 50rem;
        color: $color-white;
        border-radius: 0 2rem 2rem 0;
    }

    &__location {
        .icon {
            width: 3rem;
            margin-right: 0.7rem;
        }

        margin: 1rem 0;
        display: flex;
        align-items: center;

        .city {
            position: relative;

            &::after {
                position: absolute;
                right: -1rem;
                bottom: 0;
                display: block;
                content: "";
                height: 100%;
                width: 0.3rem;
                background-color: $color-white;
            }
        }

        .country {
            position: absolute;
            right: -4rem;
            bottom: -0.7rem;
        }
    }

    &__details,
    &__search {
        width: 90%;
        margin: 0 auto;
        line-height: 3rem;
        .text--small {
            font-size: 1.7rem;
        }
        text-align: center;
    }

    &__flex {
        @include flex();
    }

    &__timeline {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        box-shadow: 0 1rem 4rem rgba($color-black, 0.7);
        border-radius: 1rem;
        padding: 0 1rem;

        &__day {
            text-align: center;
            border-radius: inherit;
            padding: 1rem;

            .text--mini {
                opacity: 0.7;
            }

            &:first-of-type {
                background-color: $color-white;
                color: $color-black;
                transform: scale(1.1);
            }
        }
    }

    &__input {
        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            right: 4.5rem;
            transform: translateY(-50%);
            width: 2px;
            height: 70%;
            opacity: 0.7;
            background-color: $color-blue;
            content: "";
            display: block;
        }

        .input {
            width: 100%;
            padding: 1rem;
            padding-right: 6rem;
            font-size: 1.6rem;
            border: 4px solid $color-black-light;
            outline: none;
            border-radius: 1rem;
            box-shadow: 0 0 2rem rgba($color-blue, 0.15);

            &:focus {
                border: 4px solid $color-blue;
            }
        }

        .icon--search {
            position: absolute;
            right: 1.6rem;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    &__current-location {
        @include flex();

        margin: 0 auto;
        padding: 1rem 4rem;
        color: $color-white;
        background-color: $color-blue;
        outline: none;
        border: none;
        border-radius: 3rem;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.8);
        cursor: pointer;
        transition: all 0.4s ease;
        font-size: 1.7rem;

        &:active {
            box-shadow: none;
        }
    }
}

.text {
    &--big {
        font-size: 8rem;
    }

    &--medium {
        font-size: 2.5rem;
    }

    &--small {
        font-size: 1.8rem;
    }

    &--mini {
        font-size: 1.5rem;
    }

    &--bold {
        font-weight: 600;
    }
}

.icon {
    &--big {
        width: 8rem;
    }

    &--medium {
        width: 6rem;
    }

    &--small {
        width: 4rem;
    }

    &--mini {
        width: 2rem;
    }
}

.or {
    margin: 1rem auto;
    position: relative;
    display: inline-block;
    opacity: 0.5;

    &::before,
    &::after {
        position: absolute;
        content: "";
        display: block;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        width: 4rem;
        background-color: $color-white;
    }

    &::before {
        left: 3rem;
    }

    &::after {
        right: 3rem;
    }
}
