@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;300;400;500;700&display=swap');


$color-white: #FFF;
$color-black: #000;
$color-green-dark: #00C611;
$color-green-light: #B8FFC7;
$color-green-third: #00D411;
$color-grey-dark: #AAA;
$color-grey-light: rgb(247, 247, 247);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
}

.network-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 3rem;
    left: 40rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    padding: 2rem;
    border-radius: 1rem;
    column-gap: 2rem;
    border-left: 4px solid $color-green-third;
    transition: all .8s ease;

    &__icon {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $color-green-light;
        padding: 1rem;
    }

    &.active {
        border-left: 4px solid $color-grey-dark;

        .network-status__icon { background: $color-grey-light;  }

        .wifi-on {  display: none;  }
        .wifi-off { 
            color: $color-grey-dark; 
            display: block; 
        }

        .text-status {  color: $color-grey-dark;    }
    }

    &.move {  left: 2rem;   }
}

img {
    width: 30px;
    height: 30px;
    color: $color-green-dark;
    
    &.wifi-off {
        display: none;
    }
}

.heading {
    font-size: 2rem;
    font-weight: 500;
}

.text {
    font-size: 1.3rem;
    color: $color-grey-dark;
}

button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    outline: none;
    background: none;
    padding: .6rem;
    color: $color-grey-dark;
    background: $color-grey-light;
    border: none;
    cursor: pointer;
    transition: all .4s ease;

    &:hover {
        transform: rotate(360deg);
    }
}

.text-status {
    color: $color-green-third;
}